# Conteúdo do Infoproduto à Venda
content/

# Perguntas para o Público
perguntas/

# Documentos
*.md
*.docx
*.odt

# CSV
*.csv

# Vídeo
*.mp4
*.mkv
*.m4v
*.ogv

# Áudio
*.mp3
*.wav
*.m4a
*.ogg

# Web
*.webm
*.webp